body{
    padding: 100px;
}


.submitted-area {
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 25px gray;
    padding: 40px;
}

#transaction-area{
    display: none;
}


.deposit {
    background-color: red;
}

.withdraw {
    background: blue;
}

.Balance {
    background-color: green;
}

.status {
    margin: 0 20px;
    padding: 35px;
    color: #fff;
    border-radius: 5px;
}